streamlit==1.41.1
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
pytorch-lightning==2.6.0
torchmetrics==1.6.0
albumentations==2.0.8
numpy==2.2.6
pillow==12.1.0
pandas==2.3.3
opencv-python-headless==4.12.0.88
